<!--
  Generated template for the RegisterFieldThirdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header no-lines style="padding:0px;">
      Step 2 of 2
  </ion-list-header>
  <button ion-button (click)="openGallery()">Add field photos</button>
  <ion-card>
    <ion-card-content>
      <img [src]="base64Image" *ngIf="base64Image"/>
    </ion-card-content>
  </ion-card>
  <button ion-button large type="submit" block (click)="saveDB()">Done</button>
</ion-content>
