<!--
  Generated template for the RegisterFieldFirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header no-lines style="padding:0px;">
      Step 1 of 2
  </ion-list-header>  
  <form [formGroup]="FirstFieldForm" (ngSubmit)="onSubmit()">
    <ion-list></ion-list>
    <ion-label>Court Name</ion-label>
    <ion-input  type="text" formControlName="court_name" placeholder="Court Name" ></ion-input>
    <ion-label>Address</ion-label>
      <ion-row style="margin:0px;">
        <ion-col col-6>
            <ion-select  formControlName="court_province" placeholder="Province" (ionChange)="onChangeProvince($event)">
                <ion-option *ngFor="let province of provinceCollection" value="{{province.id}}">{{province.name}}</ion-option>
              </ion-select>
        </ion-col>
        <ion-col col-6>
            <ion-select  formControlName="court_city" placeholder="City">
                <ion-option *ngFor="let city of citySelectByProvince" value="{{city.id}}">{{city.name}}</ion-option>
              </ion-select>
        </ion-col>
      </ion-row>

    <ion-input  type="text" formControlName="court_street" placeholder="Street"></ion-input>
    <agm-map  [latitude]="marker?.lat" [longitude]="marker?.lng" [zoom]="16" (mapClick)="onSetMarker($event)">
        <agm-marker [latitude]="marker?.lat" [longitude]="marker?.lng"></agm-marker>
      </agm-map>
    <ion-label>Phone Number</ion-label>    
    <ion-input type="text" formControlName="court_phone" placeholder="Phone Number"></ion-input>
    <ion-label>Court Type</ion-label>

    <ion-list>
      <ion-item style="padding:0px;" no-lines>
          <ion-select  formControlName="court_type">
              <ion-option value="basketball">Basketball</ion-option>
              <ion-option value="soccer">Futsal</ion-option>
            </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-label>Open Day</ion-label>    
    <ion-grid formArrayName="open_days">
      <ion-row>
        <ion-label><ion-checkbox (click)="selectAll()" [checked]="unSelect()" (ionChange)="onChange('all', $event.checked)" value="All"></ion-checkbox>Select All</ion-label>  
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Monday', $event.checked)" value="Monday"></ion-checkbox>Monday</ion-label>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Tuesday', $event.checked)" value="Tuesday"></ion-checkbox>Tuesday</ion-label>
      </ion-row>
      <ion-row>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Wednesday', $event.checked)" value="Wednesday"></ion-checkbox>Wednesday</ion-label>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Thursday', $event.checked)" value="Thursday"></ion-checkbox>Thursday</ion-label>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Friday', $event.checked)" value="Friday"></ion-checkbox>Friday</ion-label>  
      </ion-row>
      <ion-row>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Saturday', $event.checked)" value="Saturday"></ion-checkbox>Saturday</ion-label>
        <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('Sunday', $event.checked)" value="Sunday"></ion-checkbox>Sunday</ion-label>
        <ion-label></ion-label>    
      </ion-row>  
    </ion-grid>
    <ion-label>Price Weekday</ion-label>
    <ion-input  type="text" placeholder="Price Weekday" formContorlName="weekday_price" ></ion-input>
    <ion-label>Price Weekend</ion-label>
    <ion-input  type="text" placeholder="Price Weekend" formControlName="weekend_price"></ion-input>
    <button ion-button large type="submit" block [disabled]="!FirstFieldForm.valid">Next</button>
</form>
</ion-content>
