page-add-schedule {
    ion-datetime{
        margin: 5px;
        padding: 25px;
        border:1px solid #27ae60;
        max-width: none;
        border-radius: 20px;
        background-color: #ffffff;
    }
}
