<!--
  Generated template for the AddSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list no-lines>
  
    <ion-item>
      <ion-label col-6>Date</ion-label>
    </ion-item>
    <ion-item>
        <ion-datetime col-12 text-right displayFormat="MM/DD/YYYY" pickerFormat="D MMM YYYY" [min]="minDate"></ion-datetime>      
    </ion-item>
    <ion-item>
      <ion-label >Start</ion-label>
      <ion-label >End</ion-label>      
    </ion-item>
    <ion-item>
      <ion-datetime col-5 displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      <div col-2></div>
      <ion-datetime col-5 displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>

  </ion-list>
 
  <button ion-button icon-left round (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Add Event
  </button>
</ion-content>