<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
  <ion-tab [root]="tabBooking" tabTitle="Schedule" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tabEvent" tabTitle="Promo" tabIcon="megaphone"></ion-tab>
  <ion-tab [root]="tabField" tabTitle="Court" tabIcon="basketball"></ion-tab>
  <ion-tab [root]="tabProfile" tabTitle="Profile" tabIcon="person"></ion-tab>  
</ion-tabs>