<!--
  Generated template for the ManageFieldFirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manage Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header no-lines style="padding:0px;">
        Step 1 of 2
    </ion-list-header>  
    <form [formGroup]="FirstFieldForm" (ngSubmit)="onSubmit()">
      <ion-list></ion-list>
      <ion-label>Court Name</ion-label>
      <ion-input  type="text" formControlName="court_name" placeholder="Court Name" value="{{courtDetail.court_name}}"></ion-input>
      <ion-label>Address</ion-label>
        <ion-row style="margin:0px;">
          <ion-col>
            <ion-select style="margin-right:3px;" formControlName="court_province" placeholder="Province" (ionChange)="onChangeProvince($event)">
              <ion-option *ngFor="let province of provinceCollection" value="{{province.id}}" [selected]="cekprovince(province.id)">{{province.name}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select style="margin-left:3px;" formControlName="court_city" placeholder="City">
              <ion-option *ngFor="let city of cityCollection" value="{{city.id}}" [selected]="cekcity(city.id)">{{city.name}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
  
      <ion-input  type="text" formControlName="court_street" placeholder="Street" value="{{courtDetail.court_address}}"></ion-input>
      <ion-label>Phone Number</ion-label>    
      <ion-input type="text" formControlName="court_phone" placeholder="Phone Number" value="{{courtDetail.court_phone}}"></ion-input>
      <ion-label>Court Type</ion-label>
  
      <ion-list>
        <ion-item style="padding:0px;" no-lines>
            <ion-select  formControlName="court_type">
                <ion-option value="basketball" [selected]="cektype('basketball')">Basketball</ion-option>
                <ion-option value="soccer" [selected]="cektype('soccer')">Soccer</ion-option>
              </ion-select>
        </ion-item>
      </ion-list>
      
      <ion-label>Open Day</ion-label>    
      <ion-grid formArrayName="open_days">
        <ion-row>
          <ion-label><ion-checkbox (click)="selectAll()" [checked]="unSelect()" (ionChange)="onChange('all', $event.checked)" value="All"></ion-checkbox>Select All</ion-label>  
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Monday"></ion-checkbox>Monday</ion-label>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Tuesday"></ion-checkbox>Tuesday</ion-label>
        </ion-row>
        <ion-row>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Wednesday"></ion-checkbox>Wednesday</ion-label>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Thursday"></ion-checkbox>Thursday</ion-label>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Friday"></ion-checkbox>Friday</ion-label>  
        </ion-row>
        <ion-row>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Saturday"></ion-checkbox>Saturday</ion-label>
          <ion-label><ion-checkbox [checked]="isSelect()" (click)="unSelectAll()" (ionChange)="onChange('monday', $event.checked)" value="Sunday"></ion-checkbox>Sunday</ion-label>
          <ion-label></ion-label>    
        </ion-row>  
      </ion-grid>
          
      <button ion-button large type="submit" block >Next</button>
  </form>
</ion-content>
