<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
<div style="text-align:center; margin-top:100px;">
    <img src="assets/icon/boopang-owner-logo-white.png" style="width:70%;"/>    
</div>
    <form  style="margin-top:50px;" [formGroup]="SignInForm" (ngSubmit)="onSubmit()">
     
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
     
        <button ion-button type="submit" block [disabled]="!SignInForm.valid">Sign In</button>
    </form>

    <ion-label text-center>Forgot your password?</ion-label>
    <br>
    <br><br><br>
   <ion-grid text-center>
    <ion-row text-center >
        <ion-label text-center>Not a member? Sign up now</ion-label>
        </ion-row>
        <ion-row text-center>
        <button  ion-button text-center (click)="openSignUpPage()">Sign Up</button>
    
       </ion-row>
   </ion-grid>
    
</ion-content>
