page-sign-in {
    ion-content{
        background-color: #2d9137 !important;
        
    }
    .label{
        color:white;
    }
    .button{
        margin: 0 auto;
        min-width: 50%;
    }
    button{
        border-radius: 20px !important;
      }
    
}
