<!--
  Generated template for the BoopayHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Boopay History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
    
      
        <ion-list>
          <ion-item>
            <ion-icon name="cash" item-start></ion-icon>
            Top up Boopay 100000
          </ion-item>
          <ion-item>
              <ion-icon name="basketball" item-start></ion-icon>
              Field Booking 30000
            </ion-item>
        
        </ion-list>
      </ion-card>
</ion-content>
