<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form text-center>
    <img  src="../../assets/imgs/user.png"/>
    <!-- ini pas dibuka harusnya uda keisi sama data yg skrg, kalo dia hapus dan dia back brati ga keupdate. -->
        <ion-label stacked>Nama Lengkap</ion-label>
        <ion-input type="text" value="{{first_name}} {{last_name}}"></ion-input>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="text" value="{{phone}}"></ion-input>
      <ion-row>
          <button ion-button full>Save</button>
      </ion-row>
       
  </form>  
  
  
</ion-content>
