<!--
  Generated template for the TabProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>    
  <div *ngFor="let profile of userProfile">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
                {{profile.first_name}} {{profile.last_name}}
            </ion-col>
            <ion-col>
                <p text-right (click)="openEditProfilePage(profile.first_name,profile.last_name,profile.phone)" style="color:yellowgreen;" >EDIT</p>
            </ion-col>
          </ion-row>
          <ion-row>
              <p>{{profile.email}}</p>              
          </ion-row>
          <ion-row>
              <p>{{profile.phone}}</p>
          </ion-row>
        </ion-grid>
        
      </ion-card-content>
    </ion-card> 
    <ion-card>
        <ion-list >
            <ion-item  text-center no-lines>
              Balance
            </ion-item>
            <ion-item text-center no-lines>
              <h1>IDR {{profile.balance}}</h1>
            </ion-item>
            <ion-item text-center no-lines>
              <button small ion-button outline (click)="openModalWithdraw()">Withdraw Money
              </button>
              <button small ion-button outline (click)="openBoopayHistoryPage()">Boopay History
              </button>
            </ion-item>
           
          </ion-list>
    </ion-card>
    <ion-card>
        <ion-item class="borderbottom" (click)="openChangePasswordPage()">
          <button clear  ion-button>Change Password</button>
        </ion-item>
        <ion-item class="borderbottom" (click)="openTermsOfServicePage()">
          <button clear  ion-button>Terms of Service</button>
        </ion-item>
        <ion-item class="borderbottom" (click)="openPrivacyPolicyPage()">
          <button clear ion-button>Privacy & Policy</button>
        </ion-item>
    </ion-card>
    <ion-card text-center text-uppercase >
        <button color="secondary" ion-button clear (click)="logout()">Sign Out</button>
    </ion-card>
  </div>
</ion-content>
