<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
  <div style="text-align:center; margin-top:50px;">
    <img src="assets/icon/boopang-owner-logo-white.png" style="width:70%;"/>    
</div>
<div text-center>
  <h2 color="dark">Sign Up</h2>
</div>
  <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
    
    <ion-row>
      <ion-col style="padding-right:3px !important;">
          <ion-input  type="text" formControlName="first_name" placeholder="First Name"></ion-input>    
      </ion-col>  
      <ion-col style="padding-left:3px !important;">
          <ion-input  type="text" formControlName="last_name" placeholder="Last Name"></ion-input>   
      </ion-col>
    </ion-row> 
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      <ion-input type="text" formControlName="no_hp" placeholder="Phone Number"></ion-input>      
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      <ion-input type="password" formControlName="confirm_password" placeholder="Confirm Password"></ion-input>

      <button ion-button type="submit" block [disabled]="!SignUpForm.valid">Sign Up</button>
  </form>
  <ion-label>Already Have Account? Sign In <span style="color:#303030; font-weight:bolder;" (click)="openSignInPage()">Here</span></ion-label>
</ion-content>
