<!--
  Generated template for the RegisterFieldSecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registerFieldSecondPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header no-lines style="padding:0px;">
      Step 2 of 3
  </ion-list-header>
  <form [formGroup]="SecondFieldForm" (ngSubmit)="onSubmit()">
    <div formArrayName="courtDayDetail" *ngFor="let item of SecondFieldForm.get('courtDayDetail').controls; let i = index;">
      <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-label>Day</ion-label>
            </ion-col>    
            <ion-col col-3>
              <ion-label>Start</ion-label>
            </ion-col>
            <ion-col col-3>
              <ion-label>End</ion-label>
            </ion-col>          
          </ion-row>
        </ion-grid>
        <ion-grid>
          <div formGroupName="{{i}}">
            <ion-row>
              <ion-col col-6>
                <ion-select [placeholder]="Day" formControlName="court_day">
                  <ion-option value="{{days}}" *ngFor="let days of daysCollection">{{days}}</ion-option>
                </ion-select>
              </ion-col>
              <ion-col col-3>
                  <ion-input type="number" formControlName="start_detail"></ion-input>    
              </ion-col>
              <ion-col  col-3>
                  <ion-input type="number" formControlName="end_detail"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-label>Price</ion-label>
                </ion-col>
              
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-input formControlName="price_detail"></ion-input>
                    </ion-col>
              </ion-row>
            </div>
        </ion-grid>
      </div>
      <ion-icon name="add-circle"><button (click)="addCourtDayDetail()" type="button"></button></ion-icon>
      <button ion-button large type="submit" block>Next</button>
  </form>
</ion-content>
