<!--
  Generated template for the TabFieldPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
        <img alt="logo" height="40" src="assets/icon/boopang-logo.png" > 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom>
      <button  (click)="addNewCourt()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-card *ngFor="let courts of courtCollection; let last = last">
    <img src="{{courts.image}}"/>
    <ion-item>
      <ion-icon name="{{courts.court_type}}" item-start large></ion-icon>
      <h2>{{courts.court_name}}</h2>
      <p>{{courts.court_type}} Court</p>
      <p>{{courts.court_address}}</p>
    </ion-item>
    <ion-grid *ngFor="let court_details of courts.court_detail">
      <ion-row><p ion-col>{{court_details.court_day}}</p><p ion-col>{{court_details.start_hour}}-{{court_details.end_hour}}</p></ion-row>
    </ion-grid>
    <ion-row>
      <ion-col col-3 text-center>
        <button (click)="openManageFieldFirstPage(courts)" ion-button icon-left clear small>
          <ion-icon name="list-box"></ion-icon>
          <div>Manage</div>
        </button>
      </ion-col>
      <ion-col col-3 text-right>
        <button (click)="openAlertDelete()" ion-button icon-left clear small>
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-col>
      <ion-col col-6 text-right>
        <button  (click)="changeStatus(courts.court_id, courts.status)" ion-button icon-left clear small id="status-{{courts.court_id}}" [disabled]="isWaiting(courts.status)">
          <div>{{courts.status}}</div>
        </button>
      </ion-col>
    </ion-row>
    <span *ngIf="last">{{ngForLast()}}</span>
  </ion-card>
 
</ion-content>
