<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form >
    <ion-label stacked>Old Password</ion-label>
    <ion-input  type="text" placeholder="Old Password"></ion-input>
    <ion-label>New Password</ion-label>    
    <ion-input  type="text" placeholder="New Password"></ion-input>
    <ion-label>Confirm New Password</ion-label>    
    <ion-input  type="text" placeholder="Confirm New Password"></ion-input>
   
    <button ion-button full type="submit" block >Update Password</button>
</form>
</ion-content>
