<!--
  Generated template for the WithdrawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button navPop class="back-button disable-hover bar-button bar-button-ios back-button-ios bar-button-default bar-button-default-ios show-back-button"
    ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-ios">
        <span class="button-inner">    
          <ion-icon class="back-button-icon icon icon-ios back-button-icon-ios ion-ios-arrow-back" role="img" ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-ios" aria-label="arrow back" ng-reflect-name="ios-arrow-back"></ion-icon>
         
        </span>
    </button>
    <ion-title>Withdraw Money</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form style="vertical-align:center;">
  <ion-label>How much do you want to withdraw?</ion-label>
  <ion-input type="text"></ion-input>
  <button ion-button full (click)="openAlertConfirmation()">Confirm</button>
</form>
</ion-content>
