<!--
  Generated template for the ManageFieldThirdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manage Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header no-lines style="padding:0px;">
        Step 2 of 2
    </ion-list-header>
    <button ion-button>Add field photos</button>
    <ion-card>
      <ion-card-content>
        <img src="assets/imgs/contoh-lap.jpg" alt="">
        
      </ion-card-content>
    </ion-card>
    <button ion-button large type="submit" block (click)="openFieldTab()">Save</button>
</ion-content>
