<!--
  Generated template for the TermsOfServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms of Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div text-center>
        <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" >
        
    </div>  
    <p style = "margin: 20px;text-align: justify" float-left>
                 <br> 1. The court owner must use the valid personal data, and will wait for approval from admin within 1-3 business days
                 <br> <br> 2. Boopay court owner who want to be liquefied will wait for approval from the admin within 1-3 business days
                 <br> <br> 3. Boopang will earn 5% commission from each successful transaction
                 <br> <br> 4. Every booking must be considered carefully, to avoid misunderstandings rental schedule
                 <br> <br> 5. For every booking offline or outside of the application, should be immediately updated on the application
                 <br> <br> 6. If an uncomfortable report is obtained, the field will be unpublish, if the report is proven, it will get suspended
        
    </p>

</ion-content>
