<!--
  Generated template for the TabEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab right bottom>
        <button  (click)="openAddEventPage()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <div *ngIf="noPromo">
      <ion-label>
          You haven't created any promo. Want to make one?
      </ion-label>
    </div>
    <div *ngIf="errorHandling">
        <ion-label>
          Unable to retrieve data
        </ion-label>
      </div>
    <div *ngIf="!noPromo">
    <ion-card *ngFor="let events of eventCollection; let last = last">
      <img src="{{events.image}}">
      <ion-item>
        <!-- <ion-icon name="football" item-start large></ion-icon> -->
        <h2>{{events.event_name}}</h2>
        <p>{{events.event_start}} until {{events.event_end}}</p>
        <p>Promo code: {{events.promo_code}}</p>
      </ion-item>
      <ion-row>
        <ion-col end text-right>
          <button (click)="openAlertDelete()" ion-button icon-left clear small>
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
        <ion-col end text-right>
          <button (click)="changeStatus(events.id,events.status)" ion-button icon-left clear small id="status-{{events.id}}">
            <div>{{events.status}}</div>
          </button>
        </ion-col>
      </ion-row>
      <span *ngIf="last">{{ngForLast()}}</span>
    </ion-card>
    </div>
  </ion-content>
