<!--
  Generated template for the ManageFieldSecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manage Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header no-lines style="padding:0px;">
        Step 2 of 3
    </ion-list-header>
    <form>
      <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-label>Day</ion-label>
            </ion-col>    
            <ion-col col-3>
              <ion-label>Start</ion-label>
            </ion-col>
            <ion-col col-3>
              <ion-label>End</ion-label>
            </ion-col>          
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-select [placeholder]="Day">
                <ion-option value="monday" selected>Monday</ion-option>
                <ion-option value="tuesday">Tuesday</ion-option>
                <ion-option value="wednesday">Wednesday</ion-option>
                <ion-option value="thursday">Thursday</ion-option>
                <ion-option value="friday">Friday</ion-option>
                <ion-option value="saturday">Saturday</ion-option>
                <ion-option value="sunday">Sunday</ion-option>
              </ion-select>
            </ion-col>
            <ion-col col-3>
                <ion-input type="number" ></ion-input>    
            </ion-col>
            <ion-col  col-3>
                <ion-input type="number" ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-label>Price</ion-label>
              </ion-col>
             
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input></ion-input>
                  </ion-col>
            </ion-row>
         
          
        </ion-grid>
       
        <ion-icon name="add-circle"></ion-icon>
        <button ion-button large type="submit" block (click)="openManageFieldThirdPage()">Next</button>
    </form>
</ion-content>
