<!--
  Generated template for the PrivacyPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
      <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" >
      
  </div>  
    <p style="text-align: justify;margin:15px">
           Boopang Indonesia is committed to protecting and respecting user privacy. All user information will be used as well as possible.
          <br> <br>
           Information you provide to us
           <br> - E-mail
           <br> - Name
           <br> - Phone Number
           <br>
           <br> Information from the use of the application
           <br> - Log information
           <br> - Location
           <br> - Photos
           <br> - Account number
           <br>
           <br> Your information will not be shared with others unless:
           <br> - The person who gets your approval
           <br> - Business Partner
           <br> - Service Providers
           <br> - For legal, protection, security purposes
        </p>

</ion-content>
