<!--
  Generated template for the TabBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="dark">
    <ion-navbar>
     
      <ion-title>
          <img alt="logo" height="40" left  src="assets/icon/boopang-logo.png" > 
      </ion-title>
          <ion-buttons end>
          <button ion-button color="primary" (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
          </button>
          </ion-buttons>
          

    </ion-navbar>
    
</ion-header>
<ion-content>
  <!-- <ion-tabs tabsPlacement='top'>
      <ion-tab [root]="tabWaiting" tabTitle="Waiting Approval" tabIcon="book"></ion-tab>
      <ion-tab [root]="tabOnProgress" tabTitle="On Progress" tabIcon="football"></ion-tab>
      <ion-tab [root]="tabDone" tabTitle="Done" tabIcon="baseball"></ion-tab>
  </ion-tabs> -->
  <div padding>
    <ion-segment [(ngModel)]="booking">
      <ion-segment-button value="bookingWaiting">
        Waiting Approval
      </ion-segment-button>
      <ion-segment-button value="bookingOnProgress">
        On Progress
      </ion-segment-button>
      <ion-segment-button value="bookingDone">
        Done
      </ion-segment-button>
    </ion-segment>
  </div>

  <div   [ngSwitch]="booking" >
    <div  *ngSwitchCase="'bookingWaiting'" ngSelected="selected">
      <div  padding>
     
              <button icon-start ion-button small icon (click)="showCalendar()">
                  <ion-icon name="calendar"></ion-icon>
                Show calendar</button>
    
            <div *ngIf="calendarOn">
              <ion-title>
                {{ viewTitle }}
              </ion-title>
              <calendar  [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30"
              class="calendar">
            </calendar>  
            </div>
            
      </div>
      
      <ion-card *ngFor="let bookingWA of bookingWACollection">
        
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/avatar5.png">
          </ion-avatar>
          <h2>{{bookingWA.nama}}</h2>
          <p>{{bookingWA.tanggal_main}}</p>
          <p>{{bookingWA.start_hour}}<span> - </span>{{bookingWA.end_hour}}</p>
          <p>IDR {{bookingWA.price}}</p>
        </ion-item> 
        <ion-row>
          <ion-col text-center>
            <button (click)="denyAlert(bookingWA.id)" item-end ion-button icon-left clear small>
              <ion-icon name="close"></ion-icon>
              <div>Deny</div>
            </button>
          </ion-col>
          <ion-col text-center>
            <button (click)="acceptAlert(bookingWA.id)" item-end ion-button icon-left clear small>
              <ion-icon name="checkmark"></ion-icon>
              <div>Accept</div>
            </button>
          </ion-col>
          
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchCase="'bookingOnProgress'">
      <ion-card *ngFor="let bookingOP of bookingOPCollection">
        
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/user.png">
          </ion-avatar>
          <h2>{{bookingOP.nama}}</h2>
          <p>{{bookingOP.tanggal_main}}</p>
          <p>{{bookingOP.start_hour}}<span> - </span>{{bookingOP.end_hour}}</p>
          <p>IDR {{bookingOP.price}}</p>
        </ion-item> 
      </ion-card>
    </div>
    <div *ngSwitchCase="'bookingDone'">
      <ion-card *ngFor="let bookingDONE of bookingDONECollection">
        
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/user.png">
          </ion-avatar>
          <h2>{{bookingDONE.nama}}</h2>
          <p>{{bookingDONE.tanggal_main}}</p>
          <p>{{bookingDONE.start_hour}}<span> - </span>{{bookingDONE.end_hour}}</p>
          <p>IDR {{bookingDONE.price}}</p>
        </ion-item>  
      </ion-card>
    </div>
  </div>
</ion-content>

