page-add-new-event {
    ion-datetime, ion-select{
        width: 100%;
        border:1px solid #27ae60;
        max-width: none;
        border-radius: 20px;
        background-color: #ffffff;
    }
    button{
        border-radius:20px;
    }
}
