<!--
  Generated template for the AddNewEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Promo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>    
    <form [formGroup]="NewEventForm"  (ngSubmit)="onSubmit()">
        <ion-label>Event Name</ion-label>
        <ion-input  type="text" formControlName="event_name" placeholder="Event Name" ></ion-input>
        <ion-row>
          <ion-col style="margin-right:3px !important;">
            <ion-label>Start Date</ion-label>
            <ion-datetime placeholder="Start Date" displayFormat="MM/DD/YYYY" pickerFormat="D MMM YYYY" formControlName="event_start"></ion-datetime>      
          </ion-col>
          <ion-col style="margin-left:3px !important;">
            <ion-label>End Date</ion-label>
            <ion-datetime placeholder="End Date" displayFormat="MM/DD/YYYY" pickerFormat="D MMM YYYY" formControlName="event_end"></ion-datetime>      
            
          </ion-col>
        </ion-row>
        
        <!-- select nama court, upload image, datepicker -->
        <ion-label>Court Name</ion-label>
        <ion-list>
          <ion-item style="padding:0px;" no-lines>
              <ion-select formControlName="court_name" placeholder="Court Name">
                  <ion-option *ngFor="let court of courtCollection" value="{{court.id}}">{{court.name}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>
        <ion-label>Discount (%)</ion-label>
        <ion-input  type="number" formControlName="event_discount" placeholder="Discount" ></ion-input>
        <ion-list>
            <ion-label>Add Promotional Image</ion-label>
            <h1 ion-button (click)="openGallery()">Add Photos</h1>
            <img [src]="base64Image" *ngIf="base64Image"/>
        </ion-list>
        
        <button ion-button large type="submit" block [disabled]="!NewEventForm.valid">Add New Event</button>
    </form>

</ion-content>
